#leaves {
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 100%; 
  z-index: 1; 
  
}

#leaves i {
  display: inline-block;
  width: 10px; 
  height: 10px; 
  background: #ff69b4; 
  border-radius: 50% 50% 50% 0%; 
  box-shadow: inset 0px 0px 1px #222;
  z-index: 1;
  position: absolute; 
  animation: falling 10 infinite ease-in-out; 
  opacity: 0;
}

#leaves i:nth-of-type(1) {
  animation: falling 8s infinite ease-in-out;
  animation-delay: 0s;
  top: 0;
  left: 0;
}
#leaves i:nth-of-type(2n) {
  animation: falling2 8s infinite ease-in-out;
  animation-delay: 0.5s;
  top: 10px;
  left: 20px;
}
#leaves i:nth-of-type(3n) {
  animation: falling3 8s infinite ease-in-out;
  animation-delay: 1s;
  top: 20px;
  left: 40px;
}
#leaves i:nth-of-type(4n) {
  animation: falling4 8s infinite ease-in-out;
  animation-delay: 1.5s;
  top: 30px;
  left: 60px;
}
#leaves i:nth-of-type(5n) {
  animation: falling5 8s infinite ease-in-out;
  animation-delay: 2s;
  top: 40px;
  left: 80px;
}
#leaves i:nth-of-type(6n) {
  animation: falling6 8s infinite ease-in-out;
  animation-delay: 2.5s;
  top: 50px;
  left: 100px;
}
#leaves i:nth-of-type(7n) {
  animation: falling7 8s infinite ease-in-out;
  animation-delay: 3s;
  top: 60px;
  left: 120px;
}
#leaves i:nth-of-type(8n) {
  animation: falling8 8s infinite ease-in-out;
  animation-delay: 3.5s;
  top: 70px;
  left: 140px;
}
#leaves i:nth-of-type(9n) {
  animation: falling9 8s infinite ease-in-out;
  animation-delay: 4s;
  top: 20px; 
  left: 160px;
}
#leaves i:nth-of-type(10n) {
  animation: falling10 8s infinite ease-in-out;
  animation-delay: 4.5s;
  top: 100px; 
  left: 200px; 
}


@keyframes falling {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(400px, 350px) rotate(15deg); 
  }
  100% {
    transform: translate(800px, 700px) rotate(-15deg); 
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(100px, 340px) rotate(10deg); 
  }
  100% {
    transform: translate(200px, 680px) rotate(-10deg); 
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(175px, 275px) rotate(20deg); 
  }
  100% {
    transform: translate(350px, 550px) rotate(-20deg); 
    opacity: 0;
  }
}

@keyframes falling4 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(500px, 360px) rotate(15deg); 
  }
  100% {
    transform: translate(1000px, 720px) rotate(-15deg); 
    opacity: 0;
  }
}

@keyframes falling5 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(50px, 100px) rotate(5deg); 
  }
  100% {
    transform: translate(100px, 200px) rotate(-5deg); 
    opacity: 0;
  }
}

@keyframes falling6 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(275px, 350px) rotate(10deg); 
  }
  100% {
    transform: translate(550px, 700px) rotate(-10deg); 
    opacity: 0;
  }
}

@keyframes falling7 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(175px, 500px) rotate(20deg); 
  }
  100% {
    transform: translate(350px, 1000px) rotate(-20deg); 
    opacity: 0;
  }
}

@keyframes falling8 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(100px, 175px) rotate(15deg); 
  }
  100% {
    transform: translate(200px, 350px) rotate(-15deg); 
    opacity: 0;
  }
}

@keyframes falling9 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(215px, 225px) rotate(10deg); 
  }
  100% {
    transform: translate(430px, 450px) rotate(-10deg); 
    opacity: 0;
  }
}

@keyframes falling10 {
  0% {
    transform: translate(0, 0); 
    opacity: 1;
  }
  50% {
    transform: translate(250px, 255px) rotate(5deg); 
  }
  100% {
    transform: translate(500px, 510px) rotate(-5deg); 
    opacity: 0;
  }
}