.container {
    position: fixed;     
    bottom: 10px; 
    width: 100%;
    left: 10px;
}
.gnText { 
    color: white;
    text-align: center;
    z-index: 1;
    font-family: 'Cinzel Decorative', serif;
    text-decoration: solid;
    list-style:none;
    font-weight:bold;
    color:#fff;
    font-size:16px;
    display: inline-block;
    text-shadow: 2px 2px 4px #ff69b4;

}